.ucf-social-links {
  .btn {
    color: $white;
    margin-bottom: .25rem;
  }

  .btn-text {
    margin-left: .25rem;
  }

  .btn-facebook {
    @include social-bg-colors($color-facebook);
  }

  .btn-linkedin {
    @include social-bg-colors($color-linkedin);
  }

  .btn-twitter {
    @include social-bg-colors($color-twitter);
  }

  .btn-instagram {
    @include social-bg-colors($color-instagram);
  }

  .btn-youtube {
    @include social-bg-colors($color-youtube);
  }

  .btn-email {
    @include social-bg-colors($color-email);
  }
}
