.ucf-social-icons {

  .ucf-social-link {
    display: inline-block;
    height: auto;
    max-width: 2.3rem;
    transition: all .2s ease-in-out;
    vertical-align: middle;

    &.sm {
      max-width: 1.6rem;
    }

    &.lg {
      max-width: 3.5rem;
    }

    &.grey {
      color: $grey;

      &:hover,
      &:focus,
      &:active {
        color: lighten($grey, 20%);
      }
    }
  }

  .ucf-social-icon {
    height: auto;
    width: 100%;
  }

  .btn-facebook {
    @include social-bg-colors($color-facebook, color);
  }

  .btn-linkedin {
    @include social-bg-colors($color-linkedin, color);
  }

  .btn-twitter {
    @include social-bg-colors($color-twitter, color);
  }

  .btn-instagram {
    @include social-bg-colors($color-instagram, color);
  }

  .btn-youtube {
    @include social-bg-colors($color-youtube, color);
  }

  .btn-tiktok {
    @include social-bg-colors($color-tiktok, color, lighten);
  }
}
