.ucf-social-icons {

  .ucf-social-link {
    background-color: currentColor;
    border-radius: 100%;
    display: inline-block;
    height: 2.3rem;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: all .2s ease-in-out;
    vertical-align: middle;
    width: 2.3rem;

    &.sm {
      height: 1.6rem;
      width: 1.6rem;
    }

    &.lg {
      height: 3.5rem;
      width: 3.5rem;
    }

    &.grey {
      background-color: $grey;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($grey, 20%);
      }
    }
  }

  .ucf-social-icon {
    color: $white;
    height: auto;
    position: absolute;
  }

  .btn-facebook {
    @include social-bg-colors($color-facebook);

    .ucf-social-icon {
      bottom: -20%;
      left: 0;
      margin: auto;
      right: 0;
      top: 0;
      width: 80%;
    }
  }

  .btn-linkedin {
    @include social-bg-colors($color-linkedin);

    .ucf-social-icon {
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
      top: 0;
      width: 55%;
    }
  }

  .btn-twitter {
    @include social-bg-colors($color-twitter);

    .ucf-social-icon {
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
      top: 5%;
      width: 64%;
    }
  }

  .btn-instagram {
    @include social-bg-colors($color-instagram);

    .ucf-social-icon {
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
      top: 0;
      width: 66%;
    }
  }

  .btn-youtube {
    @include social-bg-colors($color-youtube);

    .ucf-social-icon {
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
      top: 0;
      width: 70%;
    }
  }

  .btn-tiktok {
    @include social-bg-colors($color-tiktok, lighten);

    .ucf-social-icon {
      bottom: 0;
      left: 0;
      margin: auto;
      right: 0;
      top: 0;
      width: 66%;
    }
  }

  .btn-share {
    .ucf-social-icon {
      bottom: 0;
      left: -5%;
      margin: auto;
      right: 0;
      top: 0;
      width: 62%;
    }
  }
}
