@mixin social-bg-colors ($color, $hover: darken) {
  &.color {
    background-color: $color;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      @if $hover == darken {
        background-color: darken($color, 10%);
      } @else {
        background-color: lighten($color, 20%);
      }
    }
  }
}
