$white: #fff;
$black: #000;
$grey: #464a4c;

$color-facebook: #1777f2;
$color-twitter: #000;
$color-linkedin: #0a66c2;
$color-instagram: #e1306c;
$color-youtube: #f00;
$color-tiktok: #000;
$color-email: $grey;
