$white: #fff;
$black: #000;
$grey: #464a4c;

$color-facebook: #3a5795;
$color-twitter: #00a5e5;
$color-linkedin: #0077b5;
$color-instagram: #d93175;
$color-youtube: #cd201f;
$color-tiktok: $black;
$color-email: $grey;
