$white: #fff;
$black: #000;
$grey: #464a4c;

$color-facebook: #1777f2;
$color-twitter: #1d9bf0;
$color-linkedin: #0a66c2;
$color-instagram: #e1306c;
$color-youtube: #f00;
$color-tiktok: #000;
$color-email: $grey;

$scrollbox-breakpoint-min: 768px;
$scrollbox-border-style: 1px solid rgba(15, 70, 100, .12);
